body{
    background-color: beige;
}
h1{
    text-align: center;
    text-decoration: underline;
}
.main{
background-color: blue;
color: azure;
padding: 10px;
}
.second{
    color: rgba(162, 37, 197, 0.8);
}
.third{
background-color: yellow;
color: peru;
}
.fourth{
    background-color: rgb(139, 213, 26);
}